.basket__image {
    width: 120px;
    height: 120px;
}

.basket__delete {
    border: none;
    border-radius: 4px;
    background-color: #ffe3e9;
    color: #ff3945;
}

.basket__delete:hover {
    cursor: pointer;
}