.checkout {
    display: flex;
    padding: 20px;
    height: max-content;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.checkout__empty {
    height: max-content;
}

.checkout__emptyButton {
    display: flex;
    justify-content: center;
    width: 100%;
    border: none;
    margin: 50px 0px;
    color: white;
    padding: 10px 0px;
    border-radius: 4px;
    font-size: 16px;
    background-color: #4285f4;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.checkout__emptyButton:hover {
    background-color: #1a94ff;
    cursor: pointer;
}

.checkout__left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.checkout__right {
    display: flex;
    flex-direction: column;
}

.checkout__ad {
    width: 350px;
    height: 150px;
    margin-bottom: 10px;
    /* mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */
}

.checkout__discount {
    padding: 10px;
    border: 1px solid #4285f4;
    border-radius: 6px;
    margin-bottom: 10px;
}

.checkout__title {
    margin-right: 10px;
    padding: 25px 10px;
    font-size: 24px;
}