.header {
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightgray;
    color: #808080;
    padding: 10px 30px;
    font-size: 12px;
}

.header__contact {
    display: flex;
}

.header__contact__icon {
    margin-right: 5px;
}

.header__contact__item {
    display: flex;
    margin-right: 10px;
}

.header__location {
    display: flex;
}

.header__body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 30px;
}

.header__logo_container {
    display: flex;
    flex: 1;
}

.header__logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
}

.header__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
    border: 1px solid lightgray;
}

.header__search__icon {
    padding: 5px;
    height: 30px !important;
    border-radius: 24px 0px 0px 24px;
    color: gray;
}

.header__search__icon:hover {
    cursor: pointer;
}

.header__search__input {
    height: 20px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 0px 24px 24px 0px;
    outline: none;
    color: gray;
}

.header__nav {
    display: flex;
    flex: 1;
    justify-content: end;
}

.header__option {
    display: flex;
}

.header__option__person {
    display: flex;
    align-items: center;
    color: gray;
    margin-right: 10px;
}

.header__option__line {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__option__line__one {
    font-size: 12px;
}

.header__option__line__two {
    font-size: 14px;
}

.header__option__basket {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 10px;
    color: gray;
}

.header__basket__count {
    position: relative;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    top: -10px;
    left: -10px;
    margin: 0 10px;
}

.header__basket__title {
    position: relative;
    top: 8px;
    left: -40px;
}

.header__bottom {
    display: flex;
    justify-content: center;
    padding: 20px 30px;
}

.header__menu {
    display: flex;
    position: relative;
}

.header__menu__item {
    display: flex;
    justify-content: center;
    width: 120px;
    margin: 0px 10px;
}

.header__menu__item__child {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
    width: 100%;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    perspective: 1000px;
}

.header__menu__item__child__container {
    display: flex;
    flex-direction: column;
    width: 180px;
    border-radius: 3px;
    padding: 10px;
    margin: 10px;
    cursor: default;
}

.header__menu__item__child__head {
    display: flex;
    font-size: 18px;
    padding: 10px 0px;
}

.link {
    display: flex;
    text-decoration: none;
    color: black;
}

.link:hover {
    color: #c9a654;
}

.link:hover .header__option__person {
    color: #c9a654;
}

.link:hover .header__option__basket {
    color: #c9a654;
}

.header__menu__item__child__tail {
    display: flex;
    font-size: 14px;
    margin: 5px 0px;
}

.collections:hover .header__menu__item__child {
    display: flex;
    cursor: default;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
}

.cosmetics:hover .header__menu__item__child {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
}

.make-ups:hover .header__menu__item__child {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
}

.tools:hover .header__menu__item__child {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}