.subDetail__name {
    font-size: 28px;
    padding: 10px 0px;
}

.subDetail__sold {
    padding: 10px 0px;
    display: flex;
}

.subDetail__soldNumber {
    margin-left: 15px;
}

.subDetail__price {
    display: flex;
    padding: 15px 0px;
}

.subDetail__priceUnit {
    font-size: 28px;
    margin-right: 10px;
}

.subDetail__quantity {
    padding: 15px 0px;
}

.subDetail__quantityNumber {
    margin-left: 15px;
}